<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="comment-user">
            {{user.name}} on {{created_at}}
        </div>
        <div class="text">
            {{content}}
        </div>
    </section>
    {{/each}}
</div>
