
{{#each comments}}
  <section class="comment">
    <div class="comment-user">
      {{this.username}}
    </div>
    <div class="comment-text">
      {{this.content}}
    </div>
    <div class="comment-date">
    {{formatDate this.createdAt}}
    </div>
  </section>
  <br>
{{/each}}


