<nav>
    {{#if loggedIn}}
    <ul class="navbar-list">
        <li><a href="/" class="navigation">Home</a></li>
        {{#unless isDashboardPage}}
        <li><a href="/dashboard" class="navigation">Dashboard</a></li>
        {{/unless}}
        <li><a href="/logout" class="navigation">Logout</a></li>
    </ul>
    {{else}}
    <ul class="navbar-list">
        <li><a href="/" class="navigation">Home</a></li>
        <li><a href="/login" class="navigation">Login</a></li>
        <li><a href="/signup" class="navigation">Signup</a></li>
    </ul>
    {{/if}}
</nav>