<main>
    <h2>Login</h2>
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="name" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>

    <br>
    <h2>If you do not already have an account, please click button below:</h2>
    <br>

    <h2><a href="/signup" class="navigation">Signup</a></h2>

</main>